.App {
  background-color: black;
  color: white;
  text-align: center;
}
h1 {
  font-family: "Press Start 2P", cursive;
  color: rgb(194, 55, 124);
}
textarea {
  height: 150px;
  width: 50%;
  background-color: rgb(250, 169, 223);
  color: white;
}
textarea:disabled {
  background-color: #a5a2a2;
}
button {
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  border: none;
  background: hotpink;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
}
h2 span {
  color: hotpink;
}
